<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Pinky</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Images/Pinky.jpg')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.main.css')}}" media="all">
</head>
<div>
<div class ="header">
    <header>
        <div class="topmenu">
            <aside>
                <a href="#">Курси англійської</a>
                <a href="#">Дистанційне навчання</a>
                <a href="#">Канікулярні програми</a>
                <a href="#">Контакти</a>
            </aside>
        </div>
        <img src="{{url_for('static',filename='Images/pinky2.jpg')}}" alt="Логотип сайту" title="Логотип сайту">
            <div class="colorline"></div>
        <div class="mid">
        <p>
            <a href="#">Пройти онлайн тестування</a>
        </p>
            <div class="hey">
            <br>
            <p>
                <div class="wow">
                <img src="{{url_for('static',filename='Images/girl.png')}}" alt="Онлайн тестування" class="girlpic"><p><div class="hello"> КУРС КОМПЛЕКСНИЙ</p></div>
            <p>З 16.03 КУРС ПРАЦЮЄ В ОНЛАЙН-ФОРМАТІ НА ПЛАТФОРМІ ZOOM</p>
            <p>Для школярів 6-16 років</p>

            <p>На цьому курсі ваша дитина:</p>
            <p> -здобуде 1 рівень англійської за 2 семестри;</p>
            <p>-навчатиметься у групах двічі на тиждень по 80хв;</p>
            <p>- готуватиме Self Study та тести онлайн на інтерактивній платформі 24 Easy Steps;</p>
            <p>- керуватиме своїм навчанням в особистому кабінеті My Pinky;</p>
            <p><div class ='price1'>3800 грн/семестр</div></p>
            </p>
              </div>
          <div class="wow">

                <img src="{{url_for('static',filename='Images/boy.png')}} alt="Розмовний курс" class="boypic"><p><div class="hello"> КУРС РОЗМОВНИЙ З НОСІЄМ МОВИ</p></div>
            <p><p>З 16.03 КУРС ПРАЦЮЄ В ОНЛАЙН-ФОРМАТІ НА ПЛАТФОРМІ ZOOM
        <p>Для учнів 6-16 років</p>
            На цьому курсі ваша дитина:

        <p>-здобуде 1 рівень англійської за 2 семестри;</p>
        <p> -навчатиметься у групах один раз на тиждень у вихідні: 2 спарені заняття по 45 хв;</p>
        <p>-готуватиме Self Study та тести онлайн на інтерактивній платформі 24 Easy Steps;</p>
        <p>- керуватиме своїм навчанням в особистому кабінеті My Pinky;</p>
        <p>- випробує 12 STEM-проектів (6-11 років);</p>
        <p> -переглядатиме відео та буде обговорювати найсучасніші винаходи людства (11-16 років)</p>
        <p><div class="price1">1900 грн/семестр</div></p>
             <div class="wow">
                <img src="{{url_for('static',filename='Images/cat.png')}}" alt=" КУРСПІДГОТОВКА ДО ЗНО" class="catpic"><p><div class="hello"> КУРС "ПІДГОТОВКА ДО ЗНО"</p></div>
        </p> <p>З 16.03 КУРС ПРАЦЮЄ В ОНЛАЙН-ФОРМАТІ НА ПЛАТФОРМІ ZOOM
    <p>Для учнів 10-11 класів</p>
    <p>На цьому курсі ваша дитина:</p>

    <p>-готуватиметься до формату завдань ЗНО, виконуючи завдання та тести онлайн на інтерактивній платформі 24 Easy Steps;</p>
    <p>-навчатиметься у групах один раз на тиждень у вихідні: 1 або 2 заняття по 110хв;</p>
    <p>керуватиме своїм навчанням в особистому кабінеті My Pinky </p>
        <div class="price1">2900 грн/курс</div>
            </div>
    </header>
    <div class="mid"></div>
</div>
<div class ="menu">
    <div class="mid"></div>
</div>
<div class ="content">
    <div class="mid"></div>
</div>
<div class ="footer">
    <div class="mid"></div>
</div>
        <header>
        </header>

        <script>
        </script>
<header>
</header>
<main>
    <section>
        <article>
        </article>
    </section>
</main>
<footer>
</footer>
</body>

</html>
